.sliders{
    margin-top: 100px;
}

/* @media only screen and (max-width: 668px) {
    .sliders{
        margin-top: 0;
    }
} */

.catagory img{
    width: 100px;
}

.custom-btn{
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border: none;
}

.custom-bg-info{
    background-color: #fceae8;
}